html,
body {
  padding:0;
  margin:0;
  overflow:hidden;
}
body {
  width:100vw;
  height:100vh;
  padding: 0.45rem 0;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  overflow-y:auto;
}
#inputText {
  resize:none;
  font-size:small;
  height: 100%;
  width:100%;
  overflow:auto;
}
input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 4px;
  /*height: 175px;*/
  height: calc(50vh - 4.2rem);
  padding: 0 2.5px;
}
span.badge.badge-light.rounded-0.p-0.ml-1 {
  position:absolute;
  top:0;
  font-family: cambria math;
  font-weight:lighter;
}
input[type=file] {
  display:none;
}
/*.custom-select-sm {
  width: -webkit-fill-available;
  font-size:small;
  👀 
}*/
#speechSettingsCard, 
#uploadFileContentCard {
  height: calc(50vh - 2px - 1.75em);
}
#controllerCard {
  height: calc(50vh - 2px - 2.9rem);
}
#page-preview,
#img-preview {
  background-image: url("../img/img_placeholder.png");
  background-color: #ffffff;
  height: calc(50vh - 6.5rem - 5.5em);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#page-preview {
  background-image: url("../img/page_placeholder.png");
}
span#pageLoadingSignal {
  visibility: hidden;
}
#processedPages {
  height: calc(50vh - 2px - 4.5em - 0.8rem);
  width: -webkit-fill-available;
  position: relative;
  display: inline-block;
  padding: 2px;
  overflow: auto;
  overflow-y: auto;
}
img#siteLogo {
  height:calc(2rem - 1px);
}

hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.unicode {
  font-family:cambria;
}